
.name-wrapper{
  display: block;
}
.loader-wrapper img.ph{
  content:url("https://hcti.io/v1/image/2cbee401-f7dd-4be7-a8a4-50c09493ac0c");
  max-width: 100%;
}
.loader-wrapper .ph {
    display: flex;
    text-indent: -9999px;  
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f6f6;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(8%, #f6f6f6),
      color-stop(18%, #f0f0f0),
      color-stop(33%, #f6f6f6)
    );
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 800px 104px;
    position: relative;
  }
  
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }